<nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid" id="header">
      <div id="map">
      <img src="assets/img/yehainaya.png" alt="logo" id="logo">
      <a class="navbar-brand" routerLink="/home"  id="main">PetsMania</a>
    </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 cha" >
          <li class="nav-item" routerLinkActive="active"  >
            <a class="nav-link active" aria-current="page" routerLink="/puppies" id="login" *ngIf="authentication">PETS</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/puppies-world" id="login" routerLinkActive="active">ADD CART</a>
          </li>
         
        
           <li class="nav-item" >
            <a class="nav-link" role="button" id="login" routerLink="/about" *ngIf="authentication" >About us</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/Note" id="login" routerLinkActive="active">Note</a>
          </li>
          <!-- <li class="nav-item" >
            <a class="nav-link" role="button" id="login" routerLink="/detail" *ngIf="authentication" >detail</a>
          </li> -->
          <!-- <li class="nav-item" >
            <a class="nav-link" role="button" id="login" routerLink="/cart" *ngIf="authentication" >Cart</a>
          </li> -->
        </ul>
        
        <li class="nav-item  d-flex mx-2 nav-pills"  >
          <button class="btn btn-success" *ngIf="authentication"  (click)="logoutMethod()" > logout <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
          </svg></button>
         
        </li>
        <li class="nav-item sava-data d-flex mx-2 nav-pills" >
          <a class="nav-link " id="login" (click)="storeUps()" role="button" *ngIf="authentication">Save data <span class="caret"></span>
          </a>
        </li>
        <li class="nav-item  d-flex mx-2 nav-pills" >
          <a class="nav-link sava-data" id="login" (click)="fetchPuppies()" role="button" *ngIf="authentication">Fetch data <span class="caret"></span>
          </a>
        </li>
        <li class="nav-item  d-flex mx-2 nav-pills"  >
          <button class="btn btn-success" *ngIf="!authentication"   routerLink="/authentication"> Login <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg></button>
         
        </li>
      </div>
     
    </div>
  </nav>


