<!-- <br>
<div class="row" *ngFor="let puppies of fetdeatail">
  <div class="col-xs-12">
    <span class="pull-right"> 
      <img
        src="{{puppies.img}}"
        alt="{{puppies.name}} "
        class="img-responsive"
        style="max-height: 50px;">
    </span>
    <a
      class="list-group-item clearfix"
      style="cursor:pointer" 
      routerLinkActive="active">
      <div class="pull-left">
        <h4 class="list-group-item-heading" style="cursor:pointer"> {{puppies.name}} </h4>
        <p class="list-group-item-text" style="cursor:pointer"> {{puppies.desc }}</p>
        <button id="prize"> prize ${{puppies.prize }}</button>
       
      </div>
    </a>
  </div>
</div> -->



<!-- <div class="card-group">
  <div class="card" *ngFor="let puppies of fetdeatail">
    <img class="card-img-top" src="{{puppies.img}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{puppies.name}}</h5>
      <p class="card-text">{{puppies.desc }}</p>
      <button id="prize"> prize ${{puppies.prize }}</button>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
 </div> -->

 <br><br><br><br>
<br>
<div id="stick">
<div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <h1>puppy Name</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      puppy dexription
    </div>
    <div class="row">
      <div class="col-xs-12" id="prize">
        prize $ price
      </div>
  </div>
  <div class="btn-group" dropdown>
    <button type="button" class="btn btn-success my-2 mx-2" style="cursor: pointer;">add to cart</button>
    <button type="button" class="btn btn-warning my-2 mx-2" style="cursor: pointer;" >edit</button>
    <button type="button" class="btn btn-danger my-2 mx-2" style="cursor: pointer;" >delete</button>

  
  </div>
  <div class="row"> 
    <div class="col-xs-12">
     SHopping list
    </div>
  </div>
</div>
  <hr>
  