<!-- <br><br><br><br>
<br>
<div id="stick" >
<div class="row">
    <div class="col-xs-12">
      <img src="{{puppies.img}}" alt="{{puppies.name}}" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <h1>{{puppies.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{puppies.desc}}
    </div>
    <div class="row">
      <div class="col-xs-12" id="prize">
        prize ${{puppies.prize }}
      </div>
  </div>
  <div class="btn-group" dropdown>
    <button type="button" class="btn btn-success my-2 mx-2" style="cursor: pointer;" (click)="addToCArt()">add to cart</button>
    <button type="button" class="btn btn-warning my-2 mx-2" style="cursor: pointer;" (click)="OnEdit()">edit</button>
    <button type="button" class="btn btn-danger my-2 mx-2" style="cursor: pointer;"(click)="ondelete()" >delete</button>

  
  </div>
  <div class="row"> 
    <div class="col-xs-12">
     <ul class="list-group">
      <li class="list-group-item" *ngFor="let puppies of puppies.pups">{{puppies.name}} - {{puppies.amount}}</li>
     </ul>
    </div>
  </div>
</div>
  <hr>
   -->

   <div class="container">
     <h1><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg></h1>
          <div class="col-sx-3">
            <img src="{{puppies.img}}" alt="{{puppies.name}}" class="img-responsive">
          </div> 
          <div class="row">
            <div class="col-sx-3">
              <h3>{{puppies.name}}</h3>
              <div class="row">
                <div class="col-sx-2">
                  {{puppies.desc}}
                </div>
              </div>
              <h5>prize ${{puppies.prize }}</h5>
            </div>
            <div class="btn-group" >
              <button type="button" class="btn btn-success my-2 mx-2" style="cursor: pointer;" (click)="addToCArt()">add to cart</button>
              <button type="button" class="btn btn-warning my-2 mx-2" style="cursor: pointer;width: 0px;" (click)="OnEdit()">edit</button>
              <button type="button" class="btn btn-danger my-2 mx-2" style="cursor: pointer;"(click)="ondelete()" >delete</button>
            </div>
            <div class="row"> 
              <div class="col-xs-12 col-lg-3">
               <ul class="list-group">
                <li class="list-group-item" *ngFor="let puppies of puppies.pups">{{puppies.name}} - {{puppies.amount}}</li>
               </ul>
              </div>
            </div>
          </div>
   </div>
   <hr>
   <app-footer></app-footer>