<div id="stick">
<h4 style="text-align: center;" id="anime">Breeds We Have</h4><hr>
<h5 style="text-align: center;">These are our some top breeds</h5>
<br>
<img src="https://img.rawpixel.com/private/static/images/website/2022-05/ns8230-image.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b3961e17298745c0868eeef46211c3d0" alt="" id="pawa">


<h2>Dogs leave pawprints on our hearts.</h2>
<br>


<h6>“They dogs never talk about themselves but listen to you while you talk about yourself, and keep up an appearance of being interested in the conversation.”</h6>
<br>
<h6>“A dog will make eye contact. A cat will, too, but a cat’s eyes don’t even look entirely warm-blooded to me, whereas a dog’s eyes look human except less guarded. A dog will look at you as if to say, ‘What do you want me to do for you? I’ll do anything for you.’ Whether a dog can in fact, do anything for you if you don’t have sheep [I never have] is another matter. The dog is willing.” <a href="https://www.shutterfly.com/ideas/dog-quotes/">Read more</a></h6>
</div>