#pawan{

	height: 47vh;
    vertical-align: middle;
    width: 82vw;
    text-align: center;
    color: aliceblue;
}
#anime{
    text-align: center; 
    color: #010401;
font-family:Franklin Gothic Medium
}

  body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
  }
  h1 {
	color: #333;
	font-family: tahoma;
	font-size: 3rem;
	font-weight: 100;
	line-height: 1.5;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	width: 550px;
  }
  
  h1 span {
	font-size: 40px;
	margin-left: 40px;
  }
  
  .message {
	background-color: yellow;
	color: #333;
	display: block;
	font-weight: 900;
	overflow: hidden;
	position: absolute;
	padding-left: 0.5rem;
	top: 0.2rem;
	left: 270px;
	animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
	font-family: tahoma;
  }
  
  @keyframes openclose {
	0% {
	  top: 0.2rem;
	  width: 0;
	}
	5% {
	  width: 0;
	}
	15% {
	  width: 230px;
	}
	30% {
	  top: 0.2rem;
	  width: 230px;
	}
	33% {
	  top: 0.2rem;
	  width: 0;
	}
	35% {
	  top: 0.2rem;
	  width: 0;
	}
	38% {
	  top: -4.5rem;
	  
	}
	48% {
	  top: -4.5rem;
	  width: 190px;
	}
	62% {
	  top: -4.5rem;
	  width: 190px;
	}
	66% {
	  top: -4.5rem;
	  width: 0;
	  text-indent: 0;
	}
	71% {
	  top: -9rem;
	  width: 0;
	  text-indent: 5px;
	}
	86% {
	  top: -9rem;
	  width: 285px;
	}
	95% {
	  top: -9rem;
	  width: 285px;
	}
	98% {
	  top: -9rem;
	  width: 0;
	  text-indent: 5px;
	}
	100% {
	  top: 0;
	  width: 0;
	  text-indent: 0;
	}
  }
  
  
  
@media screen and (max-width:1210px){
	#pawan{
		width: 100%;
		height: 21vh;
	}
	h1 {
		width: 100vw;
	  }
	  h1 span {
		font-size: auto;
		margin-left: 40px; 
	 }
	 .message{
		font-size: 1;
	 }
}
@media screen and (max-width:626px){
	#pawan{
		width: 100%;
		height: 21vh;
	}
	h1 {
		width: 100vw;
	  }
	  h1 span {
		font-size: 2rem;
		margin-left: 40px; 
	 }
	 .message{
		font-size: 0.6;
		position: absolute;
	padding-left: 0.5rem;
	top: 0.1rem;
	left: 236px;
	 }
}
@media screen and (max-width:547px){
	.message{
		font-size: 0.6;
		position: absolute;
	padding-left: 0.5rem;
	top: 0.1rem;
	left: 199px;
	 }
	 .word1, .word2, .word3{
		font-size: auto;
	 }
	 h1 {
		width: 100vw;
		margin: auto;
	  }
}
@media screen and (max-width:509px){
	h1 span{
		margin-left: 0px;
	}
	.message{
		position: absolute;
	padding-left: 0.5rem;
	top: 0.1rem;
	left: 153px;
	padding-bottom: 12px;
	}
}
@media screen and (max-width:465px){
	h1 span{
		position: relative;
		left: -3px;
		margin-left: 0px;
	}
	.message{
		position: absolute;
	padding-left: 0.5rem;
	top: 0.1rem;
	left: 151px;
	padding-bottom: 12px;
	}
}
@media screen and (max-width:768px){
	.card-group{
	 width: 100%;
	}
	.card{
		height: auto;
    width: fit-content;
    font-size: 12px;
	}
	h5{
		font-size: 18px;
		font-weight: 600;
	}
}