<div id="out">
  <h3 id="noway">Here some rules to manage the website!</h3>
  <div id="stick">
    <div class="row" id="check">
      <div class="col-xs-12 col-lg-12">
        <ul>
          <li>
            This website puppyMania only for demo puppose so used it only for
            your use.
          </li>
          <li>
            By adding your new puppy will be only saved in database where you
            can fetch after reloading the page.
          </li>
          <li>
            Fetch data only fetches those puppies that you save it before in
            your database.
          </li>
          <li>
            The data only  will be change only for your use never changes in actual administrative.
          </li>
          <li>
            ADD TO CART you only can add the list of item there and only can
            aadd the item which included with the puppies as well !
          </li>
          <li>
            Every 3 mintues you have to login again for security purpose !!
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
